body{
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    justify-content: center;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
}

.caixa1{
    background-color: #F0F8FF;
    height: 100vh;
    width: 40%;
}

.caixa2{
    background-color: #F0F8FF;
    height: 100vh;
    width: 60%;
    text-align: center;
}

img{
    height: 100vh;
    width: 100%;
}

table, thead, tr, td, th{
    border: 2px solid #380B61;
    border-collapse: collapse;
    width: 1200px;
    text-align: center;
    margin: auto;
}

.titulo{
    font-family: sans-serif;
    color: #380B61;
    margin-left: 7%;
    margin-left: auto;
    margin-bottom: 0px;
}

input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    border-radius: 5px;
}

.button {
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin: 2px 2px 2px 2px;
}

.button:hover {
    background: #bea9fc;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

#paginaRecados{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

#descricao{
    width: 39%;
}

#detalhamento{
    width: 39%;
}

.formatLinks{
    padding: 10px;
    color: #59429d;
}

input::placeholder {
    color: #59429d;
    padding-left: 10px;
    opacity: 0.5;
  }

#buttonEntrarSistema{
    width: 410px;
}

#buttonCriaContaAgora{
    width: 410px;
}

/* #tituloEntrarSistema{
    margin-left: auto;
    margin-bottom: 0px;
} */

.imputFormat{
    padding-left: 5px;
}

.posiciona{
    margin-top: 300px;
}

#userName1{
    width: 400px;
}

#password1{
    width: 400px;
}

#repeatPassword1{
    width: 400px;
}

#usuarioLodado{
    text-align: right;
}